.sms-outer {
    text-align: center;
    padding: 10px;
}

/* Icon and Text */
.sms-platform {
    margin: 0 5px;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 4px;
}
.sms-platform i {
    font-size: 20px;
    margin-right: 2px;
}
.sms-platform#facebook {
    background-color: #4267B2;
    color: white;
}
.sms-platform#facebook a {
    color: white;
}

.sms-platform#twitter {
    background-color: #1DA1F2;
    color: white;
}
.sms-platform#twitter a {
    color: white;
}

/* Icon Only */
.sms-platform-icon-only {
    font-size: 35px;
    margin: 0 5px;
}
.sms-platform-icon-only#facebook {
    color: #4267B2;
}
.sms-platform-icon-only#twitter {
    color: #1DA1F2;
}
