.sms-outer {
    text-align: center;
    padding: 10px;
}

/* Icon and Text */
.sms-platform {
    margin: 10px 5px 0 5px;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 4px;
    display: inline-block;

    -webkit-transition: border-radius 0.1s;
    -moz-transition: border-radius 0.1s;
    -ms-transition: border-radius 0.1s;
    -o-transition: border-radius 0.1s;
    transition: border-radius 0.1s;
}
.sms-platform:hover {
    border-radius: 10px;
}
.sms-platform i {
    font-size: 20px;
    margin-right: 2px;
}

/* FACEBOOK */
.sms-platform#facebook {
    background-color: #4267B2;
}
.sms-platform#facebook i {
    color: white;
}
.sms-platform#facebook a, .sms-platform#facebook a:hover {
    color: white;
    text-decoration: none;
}

/* TWITTER */
.sms-platform#twitter {
    background-color: #1DA1F2;
}
.sms-platform#twitter i {
    color: white;
}
.sms-platform#twitter a, .sms-platform#twitter a:hover {
    color: white;
    text-decoration: none;
}

/* GOOGLE PLUS */
.sms-platform#google {
    background-color: #DB4437;
}
.sms-platform#google i {
    color: white;
}
.sms-platform#google a, .sms-platform#google a:hover {
    color: white;
    text-decoration: none;
}

/* Icon Only */
.sms-platform-icon-only {
    font-size: 35px;
    margin: 0 5px;
}
.sms-platform-icon-only#facebook i{
    color: #4267B2;
}
.sms-platform-icon-only#twitter i{
    color: #1DA1F2;
}
.sms-platform-icon-only#google i {
    color: #DB4437;
}
