.sms-outer {
    text-align: center;
    padding: 10px;
}

/* Icon and Text */
.sms-platform {
    margin: 0 5px;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 4px;
}
.sms-platform i {
    font-size: 20px;
    margin-right: 2px;
}
.sms-platform#facebook {
    background-color: #4267B2;
}
.sms-platform#facebook i {
    color: white;
}
.sms-platform#facebook a, .sms-platform#facebook a:hover {
    color: white;
    text-decoration: none;
}
.sms-platform#twitter {
    background-color: #1DA1F2;
}
.sms-platform#twitter i {
    color: white;
}
.sms-platform#twitter a, .sms-platform#twitter a:hover {
    color: white;
    text-decoration: none;
}

/* Icon Only */
.sms-platform-icon-only {
    font-size: 35px;
    margin: 0 5px;
}
.sms-platform-icon-only#facebook i{
    color: #4267B2;
}
.sms-platform-icon-only#twitter i{
    color: #1DA1F2;
}
